@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

body {
  background-color: #f6f6f6;
}

img {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  border: none;
  width: 450px;
  margin: 3rem auto;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
}

ul li img {
  height: 16px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: white;
  border-bottom: 1px solid #c0c0c0;
}

.title-container img {
  height: 16px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.8rem;
  background-color: white;
  border-bottom: 1px solid #c0c0c0;
}

.input-container img {
  height: 12px;
}

input {
  border: none;
  padding: 0.8rem;
  width: 100%;
}

input::placeholder {
  font-style: italic;
}

input:focus {
  outline: none;
}

ul {
  display: flex;
  flex-direction: column;
  text-align: start;
}

ul li {
  padding: 0 0.8rem;
  background-color: white;
  border-bottom: 1px solid #c0c0c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li div {
  display: flex;
  align-items: center;
  width: 100%;
}

.task {
  padding: 0.8rem;
  background: transparent;
}

.check {
  height: 14px;
  width: 14px;
  padding: 0.8rem;
}

a {
  color: black;
  padding: 0.8rem;
  width: fit-content;
  align-self: center;
}

.highlight {
  background-color: #fffeca;
}
